<% if(success && success.length) { %>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    <% if(deleteList && deleteList.length) { %>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%= deleteList %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    
    <% if(deleteReview && deleteReview.length) { %> 
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-2" role="alert">
        <%= deleteReview %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    <% if(addReview && addReview.length) { %> 
        <div class="alert alert-success alert-dismissible fade show col-6 offset-2" role="alert">
            <%= addReview %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>