<% layout("/layouts/boilerplate")%>
<body>
   <h1>All lists</h1>
   <!-- <form action="/listings/new">
       <button>Create new List</button><br/><br/>
   </form> -->
   <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
      <% for(let list of allistings) { %>
      <div class="card col listing-card" style="width: 18rem;">
        <img src="<%= list.image %>" class="card-img-top" alt="..."style="height:20rem;width=18rem" />
        <a href="/listings/<%= list._id %>"><div class="card-img-overlay"></div></a>
        <div class="card-body">
          <p class="card-text">
            <b><%= list.title %> <br></b>
            &#8377;<%=Number(list.price).toLocaleString("en-IN")%>/night</p>
        </div>
      </div>
      <% } %>
   </div>
</body>
<!-- <ul>
  for(let list of allistings) { %>
    <li><a href="/listings/=list.id%>">=list.title%></a></li><br/>
  } %>
</ul> -->
