<!DOCTYPE html>
<%layout("/layouts/boilerplate")%>
<body>
   <div class="col-8 offset-2">
      <h1>Create new Listings </h1>
      <form action="/listings" method="post" novalidate class="needs-validation">
         <div class="mb-3">
         <input 
            name="listing[title]"
            type="text" 
            placeholder="enter title" 
            class="form-control" 
            required
         />
         <div class="valid-feedback">title looks fine!</div>
         </div>
         <div class="mb-3">
            <label for="description" class="form-label">Description</label>
         <textarea
               name="listing[description]"
               placeholder="enter description ... "
               id="description"
               class="form-control"
               required
            >
         </textarea>
         <div class="invalid-feedback">Please enter a short description</div>
         </div>
         <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
         <input 
               name="listing[image]" 
               id="image"
               type="text" 
               placeholder="enter image URL/Link" 
               type="text"
               class="form-control"
               required
            />
         </div>
      <div class="row" style="width: 100%">
         <div class="mb-3 col-4">
            <label for="price" class="form-label">Price</label>
            <input 
               name="listing[price]" 
               type="text" 
               id="price"
               placeholder="enter price" 
               type="number"
               class="form-control"
               required
               />
            <div class="invalid-feedback">Price should be valid</div>

         </div>
         <div class="mb-3 col-8">
            <label for="country" class="form-label">Country</label>
            <input 
                  name="listing[country]" 
                  type="text" 
                  placeholder="enter country"
                  id="country"
                  class="form-control"
                  required
            />
         </div>
      </div>
         <div class="mb-3">
            <label for="location" class="form-label">Location</label>
         <input 
            name="listing[location]" 
            type="text" 
            id="location"
            placeholder="enter location"
            class="form-control"
            required
            />
         </div>
         <button class="btn btn-dark">Add</button>
         <br><br> 
      </form>
   </div>
</body>
